.logerBox {
  border: 2px solid black;
  border-radius: 10px;

  width: 100%;
  height: 300px;
  margin: 0.5em 0em;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.logerBox > header {
  border-bottom: 1px dotted black;
  line-height: 1.75;
  padding-left: 0.5em;
  font-weight: 600;
}

table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

tbody > tr,
thead > tr,
tfoot > tr {
  display: grid;
  grid-template-columns: 2fr 7fr 2fr;
}

thead,
tfoot {
  display: block;
  /* distance of scroll */
  padding-right: 17px;
}

tbody {
  display: block;
  overflow-y: scroll;
  /* for overflow work */
  height: 1px;
  flex-grow: 1;
}

td,
th {
  padding: 0.25em 0em;
  text-align: center;
}

tbody td {
  background-color: wheat;
  border-radius: 5px;
  margin: 0.25em;
}

tfoot > tr {
  border-top: 1px dotted black;
  grid-template-areas: ". . dur cre del";
}

#sumDur {
  grid-area: dur;
}
#countCreated {
  grid-area: cre;
}
#countDeleted {
  grid-area: del;
}

sup {
  vertical-align: super;
  font-size: 0.75em;
}
